# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
output.log

# Docker
docker-compose.override.yml
.dockerignore

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
